<!DOCTYPE html>
<html>
  <head>
    <title>MyTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ready to hit the trails? Find detailed information about parks and trails and add reviews as you complete them.">
    <meta name="title" property='og:title' content='MyTrails' />
    <meta name="image" property='og:image' content='../../../images/mytrails_splash.png' />
    <meta name="description" property='og:description' content='Ready to hit the trails? Find detailed information about parks and trails and add reviews as you complete them.' />
    <meta property='og:url' content='https://mytrails-app.herokuapp.com' />
    <meta name="author" content="Lili Gevorkian" />

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    
    <script type="text/javascript">
      window.github = "<%= image_url('github.png') %>";
    </script>
    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.png') %>";
    </script>
    <script type="text/javascript">
      window.favicon = "<%= image_url('favicon.ico') %>";
    </script>
    <script type="text/javascript">
      window.hiker = "<%= image_url('hiker.png') %>";
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.mapboxAPIKey = "<%= Rails.application.credentials.mapbox[:api_key] %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
