<!DOCTYPE html>
<html>
  <head>
    <title>Trails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    
    <script type="text/javascript">
      window.github = "<%= image_url('github.png') %>";
    </script>
    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.png') %>";
    </script>
    <script type="text/javascript">
      window.favicon = "<%= image_url('favicon.ico') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.mapboxAPIKey = "<%= Rails.application.credentials.mapbox[:api_key] %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
